.list-group
        if(categories.length>0)
                each category in categories 
                        a(href=`/categories/${category.id}` class=(category.id===selectedId?"nav-link list-group-item active":"nav-link list-group-item")) #{category.name}